.doctor__another.doctors
  .container-fluid
    .row
      .col-xs-12
        .heading
          h2 Другие пластические хирурги Medall
        .doctor__another__row
          a(href="#").doctors__block
            article
              header
                img(src="img/doctors/2.jpg", alt="")
                h1 Ева Юсуфовна<br> Мохамед
              section
                p <strong>Пластический хирург</strong>, заведующий центром пластической хирургии, кандидат медицинских наук.
                div
                  span
                    i.icon.icon-calendar
                    | Расписание врача
                .btn.btn-primary(href="#modal-form")
                  i.icon.icon-edit
                  span Запиcь на консультацию
          a(href="#").doctors__block
            article
              header
                img(src="img/doctors/3.jpg", alt="")
                h1 Екимов<br> Станислав Вадимович 
              section
                p <strong>Пластический хирург</strong>, заведующий центром пластической хирургии, кандидат медицинских наук.
                div
                  span
                    i.icon.icon-calendar
                    | Расписание врача
                .btn.btn-primary(href="#modal-form")
                  i.icon.icon-edit
                  span Запиcь на консультацию
              