.services__content.doctor__before
  .container-fluid
    .row
      .col-xs-12
        .heading
          h2 До и после
        .tabs__before
          .tabs.tabs__before__primary
            ul.tabs__caption
              li.active Мария, 27 лет
              li Анна, 40 лет
              li Пациенка N, 55 лет
            .tabs__content.active
              .row
                .tabs__before__images.tabs.tabs__before__secondary
                  ul.tabs__caption
                    li.active Спереди
                    li Сбоку 
                    li 3/4
                    li Видеоотзыв
                    li 6 месяцев
                    li 24 месяца
                  .tabs__content.active
                    .tabs__before__images__block
                      img(src="img/before.jpg", alt="")
                      img(src="img/after.jpg", alt="")
                  .tabs__content
                    .tabs__before__images__block
                      img(src="img/before.jpg", alt="")
                      img(src="img/after.jpg", alt="")
                  .tabs__content
                    .tabs__before__images__block
                      img(src="img/before.jpg", alt="")
                      img(src="img/after.jpg", alt="")
                  .tabs__content
                    .tabs__before__images__block
                      iframe(width='820', height='330', src='https://www.youtube.com/embed/N-JMnBXJY8Q', frameborder='0', allow='autoplay; encrypted-media', allowfullscreen='')
                  .tabs__content
                    .tabs__before__images__block
                      img(src="img/before.jpg", alt="")
                      img(src="img/after.jpg", alt="")
                  .tabs__content
                    .tabs__before__images__block
                      img(src="img/before.jpg", alt="")
                      img(src="img/after.jpg", alt="")
                .tabs__before__about
                  h2 Мария, 27 лет 
                  p Операция: омоложение. Эндоскопическое омоложение лба и средней трети лица. Пластический хирург – Янковская Н.Л.
                  a.btn.btn-primary(href="#") 
                    span Все результаты
              .row
                .tabs__before__review
                  h2 Отзыв Марии об этой операции:
                  .tabs__review__block
                    p Спасибо, что дали сбыться мечте! Говорю спасибо замечательному доктору Филлипу Анатольевичу. Мне очень хотелось иметь роскошные миндалевидные глаза, и теперь они у меня есть! Это просто какая-то фантастика! Мой молодой человек в восторге. И даже мама, которая была очень против операции согласилась, что мне так лучше. Шрамиков не видно вообще, невозможно сказать, что я делала операцию. И сама себе нравлюсь, и окружающим. Спасибо, что дали сбыться мечте.
            .tabs__content
              .row
                .tabs__before__images.tabs.tabs__before__secondary
                  ul.tabs__caption
                    li.active Спереди
                    li Сбоку 
                    li 3/4
                    li Видеоотзыв
                    li 6 месяцев
                    li 24 месяца
                  .tabs__content.active
                    .tabs__before__images__block
                      img(src="img/before.jpg", alt="")
                      img(src="img/after.jpg", alt="")
                  .tabs__content
                    .tabs__before__images__block
                      img(src="img/before.jpg", alt="")
                      img(src="img/after.jpg", alt="")
                  .tabs__content
                    .tabs__before__images__block
                      img(src="img/before.jpg", alt="")
                      img(src="img/after.jpg", alt="")
                  .tabs__content
                    .tabs__before__images__block
                      iframe(width='820', height='330', src='https://www.youtube.com/embed/N-JMnBXJY8Q', frameborder='0', allow='autoplay; encrypted-media', allowfullscreen='')
                  .tabs__content
                    .tabs__before__images__block
                      img(src="img/before.jpg", alt="")
                      img(src="img/after.jpg", alt="")
                  .tabs__content
                    .tabs__before__images__block
                      img(src="img/before.jpg", alt="")
                      img(src="img/after.jpg", alt="")
                .tabs__before__about
                  h2 Анна, 40 лет
                  p Операция: омоложение. Эндоскопическое омоложение лба и средней трети лица. Пластический хирург – Янковская Н.Л.
                  a.btn.btn-primary(href="#") 
                    span Все результаты
              .row
                .tabs__before__review
                  h2 Отзыв Марии об этой операции:
                  .tabs__review__block
                    p Спасибо, что дали сбыться мечте! Говорю спасибо замечательному доктору Филлипу Анатольевичу. Мне очень хотелось иметь роскошные миндалевидные глаза, и теперь они у меня есть! Это просто какая-то фантастика! Мой молодой человек в восторге. И даже мама, которая была очень против операции согласилась, что мне так лучше. Шрамиков не видно вообще, невозможно сказать, что я делала операцию. И сама себе нравлюсь, и окружающим. Спасибо, что дали сбыться мечте.
            .tabs__content
              .row
                .tabs__before__images.tabs.tabs__before__secondary
                  ul.tabs__caption
                    li.active Спереди
                    li Сбоку 
                    li 3/4
                    li Видеоотзыв
                    li 6 месяцев
                    li 24 месяца
                  .tabs__content.active
                    .tabs__before__images__block
                      img(src="img/before.jpg", alt="")
                      img(src="img/after.jpg", alt="")
                  .tabs__content
                    .tabs__before__images__block
                      img(src="img/before.jpg", alt="")
                      img(src="img/after.jpg", alt="")
                  .tabs__content
                    .tabs__before__images__block
                      img(src="img/before.jpg", alt="")
                      img(src="img/after.jpg", alt="")
                  .tabs__content
                    .tabs__before__images__block
                      iframe(width='820', height='330', src='https://www.youtube.com/embed/N-JMnBXJY8Q', frameborder='0', allow='autoplay; encrypted-media', allowfullscreen='')
                  .tabs__content
                    .tabs__before__images__block
                      img(src="img/before.jpg", alt="")
                      img(src="img/after.jpg", alt="")
                  .tabs__content
                    .tabs__before__images__block
                      img(src="img/before.jpg", alt="")
                      img(src="img/after.jpg", alt="")
                .tabs__before__about
                  h2 Пациенка N, 55 лет
                  p Операция: омоложение. Эндоскопическое омоложение лба и средней трети лица. Пластический хирург – Янковская Н.Л.
                  a.btn.btn-primary(href="#") 
                    span Все результаты
              .row
                .tabs__before__review
                  h2 Отзыв Марии об этой операции:
                  .tabs__review__block
                    p Спасибо, что дали сбыться мечте! Говорю спасибо замечательному доктору Филлипу Анатольевичу. Мне очень хотелось иметь роскошные миндалевидные глаза, и теперь они у меня есть! Это просто какая-то фантастика! Мой молодой человек в восторге. И даже мама, которая была очень против операции согласилась, что мне так лучше. Шрамиков не видно вообще, невозможно сказать, что я делала операцию. И сама себе нравлюсь, и окружающим. Спасибо, что дали сбыться мечте.