.doctor__header
  .container-fluid
    .row
      .doctor__header__block
        h1 Филипп Анатольевич Романчишен
        p Пластический хирург, к. м.н.
        .doctor__header__info
          p Стаж: <b>15 лет</b>
          p Проведенных операций: <b>156</b>
      .doctor__header__image
        img(src="img/doctor/header.png", alt="")