.doctor__info
  .container-fluid
    .row
      .col-md-8.col-xs-12
        .heading
          h2 Образование
        ul
          li •СПбГУ, 2003 г., диплом с отличием. Квалификация: врач по специальности «педиатрия».
          li •СПбГУ, 2003 г., диплом с отличием. Квалификация: врач по специальности «педиатрия».
          li •СПбГУ, 2003 г., диплом с отличием. Квалификация: врач по специальности «педиатрия».
          li •СПбГУ, 2003 г., диплом с отличием. Квалификация: врач по специальности «педиатрия».
        .heading
          h2 Учасник международных сообществ
        ul
          li • Член Российского общества пластических,реконструктивных и эстетических хирургов 
          li • Член Asian Association of Endocrine Surgeons (AsAES)
          li • Участник Российского партнерстваспециалистов по опухолям головы и шеи (RPHNOS)
      .col-md-4.col-xs-12
        .calendar
          h3 Расписание врача
          .datepicker-here
          a.btn.btn-primary(href="#modal-form" data-pop)
            i.icon.icon-edit
            span Запиcь на консультацию
      .col-xs-12
        .doctor__info__quote
          .doctor__info__quote__image
            img(src="img/doctors/1.jpg", alt="")
          .doctor__info__quote__content
            p Свою первую операцию я сделал 10 лет назад. Результат был прекрасный. До сих пор помню счастье в глазах пациентки, когда мы с ней встретились через два месяца, после процедуры.Исполняйте свои желания,  это меняет жизнь к лучшему!
          