.doctor__spec
  .container-fluid
    .row
      .col-xs-12
        .heading
          h2 Специализация доктора Романчишена
          .doctor__spec__row
            article.doctor__spec__block
              header(style="background: url('img/doctor/1.jpg')")
                h1 Маммопластика
              section
                div
                  a(href="#") Увеличение груди (аугментация, импланты)
                  a(href="#") Подтяжка груди (мастопексия)
                  a(href="#") Уменьшение груди (редукция)
                div
                  a(href="#") Липофилинг (коррекция собственной жировой тканью)
                  a(href="#") Гинекомастия (уменьшение у мужчин (резекция, липосакция, комбинированный)
            article.doctor__spec__block
              header(style="background: url('img/doctor/2.jpg')")
                h1 Пластика тела
              section
                div
                  a(href="#") Коррекция живота (абдоминопластика, устранение диастаза)
                  a(href="#") Пластика ягодиц (глютеопластика)
                  a(href="#") Липосакция
                div
                  a(href="#") Липофилинг
                  a(href="#") Гинекомастия (уменьшение у мужчин (резекция, липосакция, комбинированный)
                  a(href="#") Лифтинг плеч, рук, бедер
            article.doctor__spec__block
              header(style="background: url('img/doctor/3.jpg')")
                h1 Пластика лица
              section
                div
                  a(href="#") Увеличение груди (аугментация, импланты)
                  a(href="#") Подтяжка груди (мастопексия)
                  a(href="#") Уменьшение груди (редукция)
                div
                  a(href="#") Липофилинг (коррекция собственной жировой тканью)
                  a(href="#") Гинекомастия (уменьшение у мужчин (резекция, липосакция, комбинированный)
            article.doctor__spec__block
              header(style="background: url('img/doctor/4.jpg')")
                h1 Интимная пластика
              section
                div
                  a(href="#") Лабиопластика
                div
                  a(href="#") Липофилинг
            article.doctor__spec__block
              header(style="background: url('img/doctor/5.jpg')")
                h1 Коррекция рубцов (или шрамов)
              section
                div
                  a(href="#") Удаление доброкачественных новообразований 
                div
                  a(href="#") Коррекция рубцов 

