---
title: 404
bodyClass: notfound
---
extends layouts/_layout
block content
  section.notfound
    .logo
      img(src="img/logo-white.png", alt="")
    .notfound__image
      img(src="img/404/1.png", alt="")
    .notfound__block
      p Только в <b>сентябре</b> Smas - лифтинг со скидкой
        span 15%
      a(href="#") Подробнее
    .notfound__bottom
      p Уупс, к сожалению этой страницы не существует...