---
title: 404
bodyClass: notfound
---
extends layouts/_layout
block content
  section.notfound
    a(href="index.html").logo
      img(src="img/logo-white.png", alt="")
    .notfound__image
      img(src="", alt="")
    .notfound__block
      p Только в <b>сентябре</b> Smas - лифтинг со скидкой
        span 15%
      a.btn.btn-primary(href="#") 
        span Подробнее
    .notfound__bottom
      p Уупс, к сожалению этой страницы не существует...