---
title: Статья
---
extends layouts/_layout
block content
  section.article
    article.article__block
      h1 Уход за бюстом после маммопластики, компрессионное белье, реабилитация, швы после маммопластики
      p Вживляя инородный материал в тело, организм «наращивает» рубец вокруг него. Это нормальная реакция организма, только основная проблема для полноценного вживления имплантантов в женскую грудь. Имплантанты груди используются для зрительного увеличения груди, а их оболочка изготовлена из твердого силикона. Поверхность оболочки может быть гладкой или шероховатой на ощупь.
      p Поначалу, при проведении первых операций по увеличению груди с помощью имплантантов, специалисты и пациентки сталкивались с проблемой рубцов, так называемой капсулярной контрактуре. Какие бы ни использовались виды имплантантов груди, и какая бы ни была поверхность силикона, соединительная ткань, образующая рубец, становилась настолько плотной и толстой, что сдавливала имплантант и грудь становилась очень твердой. На ощупь это вполне неестественно, и с этой проблемой сталкивались почти две трети представительниц женского пола.
      img.left(src="img/article.jpg", alt="")
      p Вживляя инородный материал в тело, организм «наращивает» рубец вокруг него. Это нормальная реакция организма, только основная проблема для полноценного вживления имплантантов в женскую грудь. Имплантанты груди используются для зрительного увеличения груди, а их оболочка изготовлена из твердого силикона. Поверхность оболочки может быть гладкой или шероховатой на ощупь.
      p Поначалу, при проведении первых операций по увеличению груди с помощью имплантантов, специалисты и пациентки сталкивались с проблемой рубцов, так называемой капсулярной контрактуре. Какие бы ни использовались виды имплантантов груди, и какая бы ни была поверхность силикона, соединительная ткань, образующая рубец, становилась настолько плотной и толстой, что сдавливала имплантант и грудь становилась очень твердой. На ощупь это вполне неестественно, и с этой проблемой сталкивались почти две трети представительниц женского пола.
      p Подобные операции, где использовались имплантанты груди, проводились непосредственно над грудной мышцей, т.е. помещались под молочную железу. Такой большой процент возникновения рубцов заставил хирургов искать новые пути вживления, которые позволят организму принимать разные виды имплантантов груди. Так, было решено проводить операцию под большой грудной мышцей, под которой и помещали имплантант. Это привело к значительно лучшим результатам, но все равно почти треть женщин в результате жаловались на твердую грудь – результат капсулярной контрактуры.
      a(href="#").article__block__recomended
        img(src="img/recomended.jpg", alt="")
        span Рекомендовано после процедуры
      p Вживляя инородный материал в тело, организм «наращивает» рубец вокруг него. Это нормальная реакция организма, только основная проблема для полноценного вживления имплантантов в женскую грудь. Имплантанты груди используются для зрительного увеличения груди, а их оболочка изготовлена из твердого силикона. Поверхность оболочки может быть гладкой или шероховатой на ощупь.
      p Поначалу, при проведении первых операций по увеличению груди с помощью имплантантов, специалисты и пациентки сталкивались с проблемой рубцов, так называемой капсулярной контрактуре. Какие бы ни использовались виды имплантантов груди, и какая бы ни была поверхность силикона, соединительная ткань, образующая рубец, становилась настолько плотной и толстой, что сдавливала имплантант и грудь становилась очень твердой. На ощупь это вполне неестественно, и с этой проблемой сталкивались почти две трети представительниц женского пола.
      p Подобные операции, где использовались имплантанты груди, проводились непосредственно над грудной мышцей, т.е. помещались под молочную железу. Такой большой процент возникновения рубцов заставил хирургов искать новые пути вживления, которые позволят организму принимать разные виды имплантантов груди. Так, было решено проводить операцию под большой грудной мышцей, под которой и помещали имплантант. Это привело к значительно лучшим результатам, но все равно почти треть женщин в результате жаловались на твердую грудь – результат капсулярной контрактуры.
  section.services__content.news
    .container-fluid
      .row
        .news__services
          a(href="#").news__service
            article
              h1 Курс LPG-Массажа
              img(src="img/recomended.jpg", alt="")
          a(href="#").news__service
            article
              h1 Курс LPG-Массажа
              img(src="img/recomended.jpg", alt="")
          a(href="#").news__service
            article
              h1 Курс LPG-Массажа
              img(src="img/recomended.jpg", alt="")
          span Рекомендовано после процедуры
      .row.news__row
        a(href="#").news__block__big.news__block
          article
            img(src="img/article.jpg", alt="")
            h1 Реконструкция груди (молочной железы) после мастэктомии
            p Около 50 процентов женщин после мастэктомии (удаления молочной железы) желают восстановить молочную железу. Причем в последние годы возросла популярность такой операции, как реконструкция груди в Санкт-Петербурге, так как это позволяет избежать психологического стресса и депрессии, связанные с потерей женственности.
        .news__row__block
          a(href="#").news__block__small.news__block
            article
              header
                img(src="img/article.jpg", alt="")
              section
                h1 Реконструкция груди (молочной железы) после мастэктомии
                p Около 50 процентов женщин после мастэктомии (удаления молочной железы) желают восстановить молочную железу. Причем в последние годы возросла популярность такой операции, как реконструкция груди в Санкт-Петербурге, так как это позволяет избежать психологического стресса и депрессии, связанные с потерей женственности.
          a(href="#").news__block__small.news__block
            article
              header
                img(src="img/article.jpg", alt="")
              section
                h1 Реконструкция груди (молочной железы) после мастэктомии
                p Около 50 процентов женщин после мастэктомии (удаления молочной железы) желают восстановить молочную железу. Причем в последние годы возросла популярность такой операции, как реконструкция груди в Санкт-Петербурге, так как это позволяет избежать психологического стресса и депрессии, связанные с потерей женственности.
      .row
        a(href="#").news__block
          article
            img(src="img/article.jpg", alt="")
            h1 Реконструкция груди (молочной железы) после мастэктомии
            p Около 50 процентов женщин после мастэктомии (удаления молочной железы) желают восстановить молочную железу. Причем в последние годы возросла популярность такой операции, как реконструкция груди в Санкт-Петербурге, так как это позволяет избежать психологического стресса и депрессии, связанные с потерей женственности.
        a(href="#").news__block
          article
            img(src="img/article.jpg", alt="")
            h1 Реконструкция груди (молочной железы) после мастэктомии
            p Около 50 процентов женщин после мастэктомии (удаления молочной железы) желают восстановить молочную железу. Причем в последние годы возросла популярность такой операции, как реконструкция груди в Санкт-Петербурге, так как это позволяет избежать психологического стресса и депрессии, связанные с потерей женственности.
        a(href="#").news__block
          article
            img(src="img/article.jpg", alt="")
            h1 Реконструкция груди (молочной железы) после мастэктомии
            p Около 50 процентов женщин после мастэктомии (удаления молочной железы) желают восстановить молочную железу. Причем в последние годы возросла популярность такой операции, как реконструкция груди в Санкт-Петербурге, так как это позволяет избежать психологического стресса и депрессии, связанные с потерей женственности.
  //BEGIN Link
  include services/link
  //END Link
      