---
title: Карточка Доктора
---
extends layouts/_layout
block content
  //BEGIN Header
  include doctor/header
  //END Header

  //BEGIN Info
  include doctor/info
  //END Info

  //BEGIN Info
  include home/certificate
  //END Info

  //BEGIN Before
  include doctor/before
  //END Before

  //BEGIN Spec
  include doctor/spec
  //END Spec

  //BEGIN Another
  include doctor/another
  //END Another
  
  //BEGIN Link
  include doctor/link
  //END Link
