---
title: Главная страница
---
extends layouts/_layout
block content
  //BEGIN Intro
  include home/intro
  //END Intro

  //BEGIN Doctors
  include home/doctors
  //END Doctors

  //BEGIN Doctor
  include home/doctor
  //END Doctor

  //BEGIN Kind
  include home/kind
  //END Kind

  