---
title: Новости
---
extends layouts/_layout
block content
  section.services__content.news
    .container-fluid
      .row
        .col-xs-12.center-xs
          h2 Пластика груди
        .col-xs-12
          .tabs
            ul.tabs__caption(style="background-image: url('img/kind/1.jpg')")
              li.active Увеличение груди
              li Подтяжка груди
              li Лечение гинекомастии
              li Импланты
            .tabs__content.active
              .row
                a(href="#").news__block
                  article
                    img(src="img/article.jpg", alt="")
                    h1 Реконструкция груди (молочной железы) после мастэктомии
                    p Около 50 процентов женщин после мастэктомии (удаления молочной железы) желают восстановить молочную железу. Причем в последние годы возросла популярность такой операции, как реконструкция груди в Санкт-Петербурге, так как это позволяет избежать психологического стресса и депрессии, связанные с потерей женственности.
                a(href="#").news__block
                  article
                    img(src="img/article.jpg", alt="")
                    h1 Реконструкция груди (молочной железы) после мастэктомии
                    p Около 50 процентов женщин после мастэктомии (удаления молочной железы) желают восстановить молочную железу. Причем в последние годы возросла популярность такой операции, как реконструкция груди в Санкт-Петербурге, так как это позволяет избежать психологического стресса и депрессии, связанные с потерей женственности.
                a(href="#").news__block
                  article
                    img(src="img/article.jpg", alt="")
                    h1 Реконструкция груди (молочной железы) после мастэктомии
                    p Около 50 процентов женщин после мастэктомии (удаления молочной железы) желают восстановить молочную железу. Причем в последние годы возросла популярность такой операции, как реконструкция груди в Санкт-Петербурге, так как это позволяет избежать психологического стресса и депрессии, связанные с потерей женственности.
              .row.news__row
                a(href="#").news__block__big.news__block
                  article
                    img(src="img/article.jpg", alt="")
                    h1 Реконструкция груди (молочной железы) после мастэктомии
                    p Около 50 процентов женщин после мастэктомии (удаления молочной железы) желают восстановить молочную железу. Причем в последние годы возросла популярность такой операции, как реконструкция груди в Санкт-Петербурге, так как это позволяет избежать психологического стресса и депрессии, связанные с потерей женственности.
                .news__row__block
                  a(href="#").news__block__small.news__block
                    article
                      header
                        img(src="img/article.jpg", alt="")
                      section
                        h1 Реконструкция груди (молочной железы) после мастэктомии
                        p Около 50 процентов женщин после мастэктомии (удаления молочной железы) желают восстановить молочную железу. Причем в последние годы возросла популярность такой операции, как реконструкция груди в Санкт-Петербурге, так как это позволяет избежать психологического стресса и депрессии, связанные с потерей женственности.
                  a(href="#").news__block__small.news__block
                    article
                      header
                        img(src="img/article.jpg", alt="")
                      section
                        h1 Реконструкция груди (молочной железы) после мастэктомии
                        p Около 50 процентов женщин после мастэктомии (удаления молочной железы) желают восстановить молочную железу. Причем в последние годы возросла популярность такой операции, как реконструкция груди в Санкт-Петербурге, так как это позволяет избежать психологического стресса и депрессии, связанные с потерей женственности.
              .row
                a(href="#").news__block
                  article
                    img(src="img/article.jpg", alt="")
                    h1 Реконструкция груди (молочной железы) после мастэктомии
                    p Около 50 процентов женщин после мастэктомии (удаления молочной железы) желают восстановить молочную железу. Причем в последние годы возросла популярность такой операции, как реконструкция груди в Санкт-Петербурге, так как это позволяет избежать психологического стресса и депрессии, связанные с потерей женственности.
                a(href="#").news__block
                  article
                    img(src="img/article.jpg", alt="")
                    h1 Реконструкция груди (молочной железы) после мастэктомии
                    p Около 50 процентов женщин после мастэктомии (удаления молочной железы) желают восстановить молочную железу. Причем в последние годы возросла популярность такой операции, как реконструкция груди в Санкт-Петербурге, так как это позволяет избежать психологического стресса и депрессии, связанные с потерей женственности.
                a(href="#").news__block
                  article
                    img(src="img/article.jpg", alt="")
                    h1 Реконструкция груди (молочной железы) после мастэктомии
                    p Около 50 процентов женщин после мастэктомии (удаления молочной железы) желают восстановить молочную железу. Причем в последние годы возросла популярность такой операции, как реконструкция груди в Санкт-Петербурге, так как это позволяет избежать психологического стресса и депрессии, связанные с потерей женственности.
              .row
                .news__services
                  a(href="#").news__service
                    article
                      h1 Курс LPG-Массажа
                      img(src="img/recomended.jpg", alt="")
                  a(href="#").news__service
                    article
                      h1 Курс LPG-Массажа
                      img(src="img/recomended.jpg", alt="")
                  a(href="#").news__service
                    article
                      h1 Курс LPG-Массажа
                      img(src="img/recomended.jpg", alt="")
                  span Рекомендовано после процедуры
                a(href="#").news__block
                  article
                    img(src="img/article.jpg", alt="")
                    h1 Реконструкция груди (молочной железы) после мастэктомии
                    p Около 50 процентов женщин после мастэктомии (удаления молочной железы) желают восстановить молочную железу. Причем в последние годы возросла популярность такой операции, как реконструкция груди в Санкт-Петербурге, так как это позволяет избежать психологического стресса и депрессии, связанные с потерей женственности.
                a(href="#").news__block
                  article
                    img(src="img/article.jpg", alt="")
                    h1 Реконструкция груди (молочной железы) после мастэктомии
                    p Около 50 процентов женщин после мастэктомии (удаления молочной железы) желают восстановить молочную железу. Причем в последние годы возросла популярность такой операции, как реконструкция груди в Санкт-Петербурге, так как это позволяет избежать психологического стресса и депрессии, связанные с потерей женственности.
                a(href="#").news__block
                  article
                    img(src="img/article.jpg", alt="")
                    h1 Реконструкция груди (молочной железы) после мастэктомии
                    p Около 50 процентов женщин после мастэктомии (удаления молочной железы) желают восстановить молочную железу. Причем в последние годы возросла популярность такой операции, как реконструкция груди в Санкт-Петербурге, так как это позволяет избежать психологического стресса и депрессии, связанные с потерей женственности.
  //BEGIN Link
  include doctor/link
  //END Link

