section.services__content
  .container-fluid
    .row
      .col-xs-12.center-xs
        h2 Пластика груди
      .col-xs-12
        .tabs
          ul.tabs__caption
            li.active Увеличение груди
            li Подтяжка груди
            li Лечение гинекомастии
            li Импланты
          .tabs__content.tabs__1.active
            .row
              .tabs__image
                img(src="img/kind/1.jpg", alt="")
              .tabs__about
                .tabs__about__title.tabs
                  ul.tabs__caption
                    li.active Об операции 
                    span /
                    li Показания
                  .tabs__content.active
                    p Самой частой причиной обращения девушек к увеличению груди является недостаточность объема вследствие:
                    ul 
                      li - индивидуальных особенностей телосложения;
                      li - врожденных аномалий развития;
                      li - утраты объема после кормления грудью;
                      li - асимметрии молочных желез;
                      li - частичной или полной утраты молочной железы после мастэктомии;
                      li - диагноза: синдром Полланда (когда одна железа недоразвита, а другая гипертрофирована);
                    p Чаще подобные обращения связаны с психологическим дискомфортом, который испытывает женщина в связи с данной проблемой. Поэтому увеличивающая маммопластика позволяет освободиться от комплексов, улучшить самооценку и качество жизни пациентки.
            .row
              .tabs__price
                h3 Цены
                .tabs__price__item
                  p Увеличение молочных желез эндопротезированием (включая импланты) 
                  span 300 000 р.
                .tabs__price__item
                  p Повторная хирургическая коррекция молочных  желез эндопротезированием (включая импланты)
                  span 350 000 р.
                .tabs__price__item
                  p Хирургическая коррекция птоза молочных желез  с одномоментным эндопротезированием с имплантами
                  span 280 000 р.
                .tabs__price__item
                  p Увеличение молочных желез  эндопротезированием (включая импланты)
                  span 170 000 р.
                .tabs__price__item
                  p Увеличение молочных желез   эндопротезированием (включая импланты) 
                  span 390 000 р.
                hr
                .tabs__price__credit
                  p * Эта услуга доступна
                  a(href="#") в кредит