section.services__content
  .container-fluid
    .row
      .col-xs-12.center-xs
        h2 Пластика груди
      .col-xs-12
        .tabs
          ul.tabs__caption(style="background-image: url('img/kind/1.jpg')")
            li.active Увеличение груди
            li Подтяжка груди
            li Лечение гинекомастии
            li Импланты
          .tabs__content.tabs__1.active
            .row
              .tabs__image
                img(src="img/kind/1.jpg", alt="")
              .tabs__about
                .tabs__about__title.tabs
                  ul.tabs__caption
                    li.active Об операции 
                    span /
                    li Показания
                  .tabs__content.active
                    p Самой частой причиной обращения девушек к увеличению груди является недостаточность объема вследствие:
                    ul 
                      li - индивидуальных особенностей телосложения;
                      li - врожденных аномалий развития;
                      li - утраты объема после кормления грудью;
                      li - асимметрии молочных желез;
                      li - частичной или полной утраты молочной железы после мастэктомии;
                      li - диагноза: синдром Полланда (когда одна железа недоразвита, а другая гипертрофирована);
                    p Чаще подобные обращения связаны с психологическим дискомфортом, который испытывает женщина в связи с данной проблемой. Поэтому увеличивающая маммопластика позволяет освободиться от комплексов, улучшить самооценку и качество жизни пациентки.
            .row
              .tabs__price
                h3 Цены
                .tabs
                  ul.tabs__caption
                    li.active Консультация и осмотр
                    li Подтяжка груди
                    li Лечение гинекомастии
                    li Импланты
                  .tabs__content.tabs__1.active
                    .tabs__price__item
                      p Увеличение молочных желез эндопротезированием (включая импланты) 
                      span 300 000 р.
                    .tabs__price__item
                      p Повторная хирургическая коррекция молочных  желез эндопротезированием (включая импланты)
                      span 350 000 р.
                    .tabs__price__item
                      p Хирургическая коррекция птоза молочных желез  с одномоментным эндопротезированием с имплантами
                      span 280 000 р.
                    .tabs__price__item
                      p Увеличение молочных желез  эндопротезированием (включая импланты)
                      span 170 000 р.
                    .tabs__price__item
                      p Увеличение молочных желез   эндопротезированием (включая импланты) 
                      span 390 000 р.
                hr
                .tabs__price__credit
                  p * Эта услуга доступна
                  a(href="#") в кредит
            .row
              .heading
                h2 До и после
              .tabs__before
                .tabs.tabs__before__primary
                  ul.tabs__caption
                    .swiper-wrapper
                      li.active Мария, 27 лет
                      li Анна, 40 лет
                      li Пациенка N, 55 лет
                      li Пациенка N, 55 лет
                      li Пациенка N, 55 лет
                      li Пациенка N, 55 лет
                  .tabs__content.active
                    .row
                      .tabs__before__images.tabs.tabs__before__secondary
                        ul.tabs__caption
                          li.active Спереди
                          li Сбоку 
                          li 3/4
                          li Видеоотзыв
                          li 6 месяцев
                          li 24 месяца
                        .tabs__content.active
                          .tabs__before__images__block
                            img(src="img/before.jpg", alt="")
                            img(src="img/after.jpg", alt="")
                        .tabs__content
                          .tabs__before__images__block
                            img(src="img/before.jpg", alt="")
                            img(src="img/after.jpg", alt="")
                        .tabs__content
                          .tabs__before__images__block
                            img(src="img/before.jpg", alt="")
                            img(src="img/after.jpg", alt="")
                        .tabs__content
                          .tabs__before__images__block
                            iframe(width='820', height='330', src='https://www.youtube.com/embed/N-JMnBXJY8Q', frameborder='0', allow='autoplay; encrypted-media', allowfullscreen='')
                        .tabs__content
                          .tabs__before__images__block
                            img(src="img/before.jpg", alt="")
                            img(src="img/after.jpg", alt="")
                        .tabs__content
                          .tabs__before__images__block
                            img(src="img/before.jpg", alt="")
                            img(src="img/after.jpg", alt="")
                      .tabs__before__about
                        h2 Мария, 27 лет 
                        p Операция: омоложение. Эндоскопическое омоложение лба и средней трети лица. Пластический хирург – Янковская Н.Л.
                        a.btn.btn-primary(href="#") 
                          span Все результаты
                    .row
                      .tabs__before__review
                        h2 Отзыв Марии об этой операции:
                        .tabs__review__block
                          p Спасибо, что дали сбыться мечте! Говорю спасибо замечательному доктору Филлипу Анатольевичу. Мне очень хотелось иметь роскошные миндалевидные глаза, и теперь они у меня есть! Это просто какая-то фантастика! Мой молодой человек в восторге. И даже мама, которая была очень против операции согласилась, что мне так лучше. Шрамиков не видно вообще, невозможно сказать, что я делала операцию. И сама себе нравлюсь, и окружающим. Спасибо, что дали сбыться мечте.
                  .tabs__content
                    .row
                      .tabs__before__images.tabs.tabs__before__secondary
                        ul.tabs__caption
                          li.active Спереди
                          li Сбоку 
                          li 3/4
                          li Видеоотзыв
                          li 6 месяцев
                          li 24 месяца
                        .tabs__content.active
                          .tabs__before__images__block
                            img(src="img/before.jpg", alt="")
                            img(src="img/after.jpg", alt="")
                        .tabs__content
                          .tabs__before__images__block
                            img(src="img/before.jpg", alt="")
                            img(src="img/after.jpg", alt="")
                        .tabs__content
                          .tabs__before__images__block
                            img(src="img/before.jpg", alt="")
                            img(src="img/after.jpg", alt="")
                        .tabs__content
                          .tabs__before__images__block
                            iframe(width='820', height='330', src='https://www.youtube.com/embed/N-JMnBXJY8Q', frameborder='0', allow='autoplay; encrypted-media', allowfullscreen='')
                        .tabs__content
                          .tabs__before__images__block
                            img(src="img/before.jpg", alt="")
                            img(src="img/after.jpg", alt="")
                        .tabs__content
                          .tabs__before__images__block
                            img(src="img/before.jpg", alt="")
                            img(src="img/after.jpg", alt="")
                      .tabs__before__about
                        h2 Анна, 40 лет
                        p Операция: омоложение. Эндоскопическое омоложение лба и средней трети лица. Пластический хирург – Янковская Н.Л.
                        a.btn.btn-primary(href="#") 
                          span Все результаты
                    .row
                      .tabs__before__review
                        h2 Отзыв Марии об этой операции:
                        .tabs__review__block
                          p Спасибо, что дали сбыться мечте! Говорю спасибо замечательному доктору Филлипу Анатольевичу. Мне очень хотелось иметь роскошные миндалевидные глаза, и теперь они у меня есть! Это просто какая-то фантастика! Мой молодой человек в восторге. И даже мама, которая была очень против операции согласилась, что мне так лучше. Шрамиков не видно вообще, невозможно сказать, что я делала операцию. И сама себе нравлюсь, и окружающим. Спасибо, что дали сбыться мечте.
                  .tabs__content
                    .row
                      .tabs__before__images.tabs.tabs__before__secondary
                        ul.tabs__caption
                          li.active Спереди
                          li Сбоку 
                          li 3/4
                          li Видеоотзыв
                          li 6 месяцев
                          li 24 месяца
                        .tabs__content.active
                          .tabs__before__images__block
                            img(src="img/before.jpg", alt="")
                            img(src="img/after.jpg", alt="")
                        .tabs__content
                          .tabs__before__images__block
                            img(src="img/before.jpg", alt="")
                            img(src="img/after.jpg", alt="")
                        .tabs__content
                          .tabs__before__images__block
                            img(src="img/before.jpg", alt="")
                            img(src="img/after.jpg", alt="")
                        .tabs__content
                          .tabs__before__images__block
                            iframe(width='820', height='330', src='https://www.youtube.com/embed/N-JMnBXJY8Q', frameborder='0', allow='autoplay; encrypted-media', allowfullscreen='')
                        .tabs__content
                          .tabs__before__images__block
                            img(src="img/before.jpg", alt="")
                            img(src="img/after.jpg", alt="")
                        .tabs__content
                          .tabs__before__images__block
                            img(src="img/before.jpg", alt="")
                            img(src="img/after.jpg", alt="")
                      .tabs__before__about
                        h2 Пациенка N, 55 лет
                        p Операция: омоложение. Эндоскопическое омоложение лба и средней трети лица. Пластический хирург – Янковская Н.Л.
                        a.btn.btn-primary(href="#") 
                          span Все результаты
                    .row
                      .tabs__before__review
                        h2 Отзыв Марии об этой операции:
                        .tabs__review__block
                          p Спасибо, что дали сбыться мечте! Говорю спасибо замечательному доктору Филлипу Анатольевичу. Мне очень хотелось иметь роскошные миндалевидные глаза, и теперь они у меня есть! Это просто какая-то фантастика! Мой молодой человек в восторге. И даже мама, которая была очень против операции согласилась, что мне так лучше. Шрамиков не видно вообще, невозможно сказать, что я делала операцию. И сама себе нравлюсь, и окружающим. Спасибо, что дали сбыться мечте.
            .row
              .heading
                h2 Эту операцию проводят
              a(href="#").tabs__doctors
                .tabs__doctors__image
                  img(src="img/doctors/1.jpg", alt="")
                .tabs__doctors__content
                  p Свою первую операцию я сделал 10 лет назад. Результат был прекрасный. До сих пор помню счастье в глазах пациентки, когда мы с ней встретились через два месяца, после процедуры.Исполняйте свои желания,  это меняет жизнь к лучшему!
                  span Филипп Анатольевич Романчишен
                  .btn.btn-primary(href="#modal-form")
                    i.icon.icon-edit
                    span Запиcь на консультацию
              a(href="#").tabs__doctors
                .tabs__doctors__image
                  img(src="img/doctors/1.jpg", alt="")
                .tabs__doctors__content
                  p Свою первую операцию я сделал 10 лет назад. Результат был прекрасный. До сих пор помню счастье в глазах пациентки, когда мы с ней встретились через два месяца, после процедуры.Исполняйте свои желания,  это меняет жизнь к лучшему!
                  span Филипп Анатольевич Романчишен
                  .btn.btn-primary
                    i.icon.icon-edit
                    span Запиcь на консультацию
            .row
              .heading
                h2 Примите взвешенное решение
              .tabs__decision__image
                img(src="img/decision.jpg", alt="")
              .tabs__decision__text
                h3 Об имплантах и технологиях
                .tabs__decision__text__p
                  p Вживляя инородный материал в тело, организм «наращивает» рубец вокруг него. Это нормальная реакция организма, только основная проблема для полноценного вживления имплантантов в женскую грудь. Имплантанты груди используются для зрительного увеличения груди, а их оболочка изготовлена из твердого силикона. Поверхность оболочки может быть гладкой или шероховатой на ощупь.
                  p Поначалу, при проведении первых операций по увеличению груди с помощью имплантантов, специалисты и пациентки сталкивались с проблемой рубцов, так называемой капсулярной контрактуре. Какие бы ни использовались виды имплантантов груди, и какая бы ни была поверхность силикона, соединительная ткань, образующая рубец, становилась настолько плотной и толстой, что сдавливала имплантант и грудь становилась очень твердой. На ощупь это вполне неестественно, и с этой проблемой сталкивались почти две трети представительниц женского пола.
              .tabs__decision__articles
                a(href="#").tabs__decision__articles__item Пластическая хирургия груди: чем могут помочь врачи?
                a(href="#").tabs__decision__articles__item Пластическая хирургия груди: чем могут помочь врачи?
                a(href="#").tabs__decision__articles__item Увеличение груди: что, как, почему ? Ответы на самые популярные вопросы.
                a(href="#").tabs__decision__articles__item Пластическая хирургия груди: чем могут помочь врачи?
                a(href="#").tabs__decision__articles__item Увеличение груди: что, как, почему ? Ответы  на самые популярные вопросы.
                a.btn.btn-primary
                  span Все статьи
              a(href="#").tabs__decision__recomended
                h3 Курс LPG-Массажа
                .tabs__decision__recomended__image
                  img(src="img/recomended.jpg", alt="")
                span Рекомендовано после процедуры
            .row
              .tabs__decision__recomended__row
                a(href="#").tabs__decision__recomended
                  h3 Курс LPG-Массажа
                  .tabs__decision__recomended__image
                    img(src="img/recomended.jpg", alt="")
                a(href="#").tabs__decision__recomended
                  h3 Курс LPG-Массажа
                  .tabs__decision__recomended__image
                    img(src="img/recomended.jpg", alt="")
                a(href="#").tabs__decision__recomended
                  h3 Курс LPG-Массажа
                  .tabs__decision__recomended__image
                    img(src="img/recomended.jpg", alt="")
                span Рекомендовано после процедуры




