section.services__link
  .container-fluid
    .services__link__row
      a.active.services__link__block(href="#" style="background-image: url('img/kind/1.jpg')")
        p Пластика<br> груди
      a.services__link__block(href="#" style="background-image: url('img/kind/2.jpg')")
        p Лицо
      a.services__link__block(href="#" style="background-image: url('img/kind/3.jpg')")
        p Тело
      a.services__link__block(href="#" style="background-image: url('img/kind/4.jpg')")
        p Интимная<br> пластика 
      a.services__link__block(href="#" style="background-image: url('img/kind/5.jpg')")
        p Лазерное<br>удаление
