footer.footer
  .footer__top
    .container-fluid
      .row
        .col-xs-12
          .footer__menu
            h2 О медицинском центре
            ul
              li
                a(href="#") О компании
              li
                a(href="#") 3D-тур
              li
                a(href="#") Лицензии
              li
                a(href="#") Новости
            ul
              li
                a(href="#") Вакансии
              li
                a(href="#") Наши партнеры
              li
                a(href="#") Контакты
          .footer__menu
            h2 Направления деятельности
            ul
              li
                a(href="#") Цифровая стоматология
              li
                a(href="#") Пластическая хирургия
              li
                a(href="#") Лазерная косметология
              li
                a(href="#") Медицинская косметология
            ul
              li
                a(href="#") Центр флебологии
              li
                a(href="#") Пересадка волос
              li
                a(href="#") Центр клинической диагностики
              li
                a(href="#") Центр снижения веса
  .footer__bottom
    .container-fluid
      .row.middle-xs
        .col-md-6
          .logo
            img(src="img/logo-footer.png", alt="")
          .copyright MEDALL © 2018 г. Санкт-Петербург   
        .col-md-6.end-xs
          p Многопрофильная клиника «Медицинский Центр Города»  