//BEGIN Сertificate
include ../home/certificate
//END Сertificate

//BEGIN Free
include ../home/free
//END Free

//BEGIN Subscribe
include ../home/subscribe
//END Subscribe

//BEGIN Contact
include ../home/contact
//END Contact
footer.footer
  .footer__top
    .container-fluid
      .row
        .col-xs-12
          .footer__menu__row
            .footer__menu
              h2
                a(href="#") 
                  i.icon.icon-section-2
                  | Пластическая хирургия
              ul
                li
                  a(href="#") Маммопластика
                li
                  a(href="#") Пластика лица
                li
                  a(href="#") Пластика тела
                li
                  a(href="#") Интимная пластика
                li
                  a(href="#") Удаление шрамов
            .footer__menu
              h2 
                a(href="#") 
                  i.icon.icon-section-4
                  | Косметология
              ul
                li
                  a(href="#") Уходовые процедуры
                li
                  a(href="#") Химические пилинги
                li
                  a(href="#") Контурная пластика
                li
                  a(href="#") Ботолунотерапия
                li
                  a(href="#") Мезотерапия
              ul
                li
                  a(href="#") Биоревитализация
                li
                  a(href="#") SMAS-лифтинг
                li
                  a(href="#") Дерматология
                li
                  a(href="#") Трихология
            .footer__menu
              h2
                a(href="#") 
                  i.icon.icon-section-3
                  | Цифровая стоматология
              ul
                li
                  a(href="#") Лечение зубов
                li
                  a(href="#") Удаление зубов
                li
                  a(href="#") Лечение десен
                li
                  a(href="#") Имплантация
              ul
                li
                  a(href="#") Протезирование
                li
                  a(href="#") Эстетическая стоматология
                li
                  a(href="#") Исправление прикуса
                li
                  a(href="#") Детская стоматология
          .footer__menu__row
            .footer__menu
              h2
                a(href="#") 
                  i.icon.icon-section-1
                  | Флебология 
            .footer__menu
              h2
                a(href="#") 
                  i.icon.icon-section-5
                  | Пересадка волос 
  .footer__bottom
    .container-fluid
      .row.middle-xs
        .col-md-6.col-sm-12.col-xs-12
          .logo
            img(src="img/logo-footer.png", alt="")
          .copyright.hidden-xs MEDALL © 2018 г. Санкт-Петербург   
        .col-md-6.end-xs.hidden-sm.hidden-xs
          p Многопрофильная клиника «Медицинский Центр Города»  
