//BEGIN header
header.header
  .container-fluid
    .row.bottom-xs
      .col-md-2.col-sm-5.col-xs-12.center-xs.between-xs.flex
        .open-menu.hidden-md.hidden-sm
          img(src="img/burger.png", alt="")
        a(href="index.html").logo
          img.hidden-xs.logo-1(src="img/logo-1.png", alt="")
          img.hidden-xs.logo-2(src="img/logo-2.png", alt="")
          img.hidden-sm.hidden-md(src="img/logo-m.png", alt="")
      .col-md-6.col-sm-7.hidden-xs
        .header__info
          p Центр эстетической медицины на Васильевском острове:
          .header__info__block
            p 
              a(href="tel:+7 (812) 748-31-09") +7 (812) 748-31-09
              | ежедневно с 9:00 до 21:00
          .header__info__block
            p Мы находимся:  Средний пр., д. 5<br> ст. м. “Василеостровская”, “Спортивная”
      .col-md-4.col-sm-12.col-xs-12.end-xs.middle-xs.between-xs
        .open-menu.hidden-md.hidden-xs
          img(src="img/burger.png", alt="")
        .header__btn
          a.btn.btn-primary(href="#modal-callback" data-pop) 
            span Обратный звонок
          a.btn.btn-primary(href="#modal-form" data-pop) 
            span Запись на приём
      .col-xs-12.hidden-sm.hidden-xs
        .header__sections
          ul
            li
              a(href="#") Цифровая<br> стоматология
                i.icon.icon-section-3
            li
              a.active(href="#") Пластическая<br> хирургия
                i.icon.icon-section-2
            li  
              a(href="#") Медицинская<br> косметология
                i.icon.icon-section-4
            li  
              a(href="#") Центр<br> флебологии
                i.icon.icon-section-1
            li  
              a(href="#") Пересадка<br> волос
                i.icon.icon-section-5


//END header
