//BEGIN header
header.header
  .container-fluid
    .row.bottom-xs
      .col-md-2.center-xs
        .logo
          img(src="img/logo.png", alt="")
      .col-md-6
        .header__info
          p Центр эстетической медицины на Васильевском острове:
          .header__info__block
            p 
              a(href="tel:+7 (812) 748-31-09") +7 (812) 748-31-09
              | ежедневно с 9:00 до 21:00
          .header__info__block
            p 
              Мы находимся:  Средний пр., д. 5<br> ст. м. “Василеостровская”, “Спортивная”
      .col-md-4.end-xs
        .header__btn
          a.btn.btn-primary(href="#") 
            span Обратный звонок
          a.btn.btn-primary(href="#") 
            span Запись на приём
      .col-xs-12
        .header__sections
          ul
            li
              a(href="#") Цифровая<br> стоматология
                i.icon-section-1
            li
              a.active(href="#") Пластическая<br> хирургия
                i.icon-section-2
            li  
              a(href="#") Медицинская<br> косметология
                i.icon-section-3
            li  
              a(href="#") Центр<br> флебологии
                i.icon-section-4
            li  
              a(href="#") Пересадка<br> волос
                i.icon-section-5


//END header
