#modal-form.modal
  .modal__block
    .modal__block__close
      i.icon.icon-close
    form
      h2 Обратный звонок
      input(type="text" placeholder="Имя")
      input#phone(type="tel" placeholder="Телефон")
      button.btn.btn-secondary(type="submit") 
        span Отправить
    .response
      p Спасибо! Ваше сообщение успешно отрпавлено.
    .error
      p Произошла ошибка, пожалуйста повторите позже.

