.certificate
  padding-top: 150px
  +r($tablet)
    padding-top: 70px
  &__row
    background-color: #e7ecf2
    height: 280px
  .owl-carousel
    margin-top: 35px
  .item
    background: #ffffff
    padding: 10px
    height: 220px