.contact
  padding-top: 150px
  +r(1439)
    padding-top: 50px
  +r($tablet)
    padding-top: 70px
  &__top
    margin-bottom: 50px
    +r($tablet)
      margin-bottom: 20px
  h2
    margin-bottom: 0 !important
  hr
    border: solid 2px rgba(229, 230, 240, 0.64)
    margin-bottom: 60px
    +r($tablet)
      margin-bottom: 40px
  &__info
    display: flex
    align-items: center
    +r($tablet)
      margin-bottom: 50px
    i
      font-size: 55px
      color: #cfcece
      margin-right: 30px
      +r($tablet)
        font-size: 38px
    a
      font-size: 25px
      text-decoration: none
      color: $black-two
      +r(1679)
        font-size: 18px
      +r($tablet)
        margin-right: 20px
    p
      font-size: 22px
      line-height: 1.45
      +r(1679)
        font-size: 16px
      +r($tablet)
        font-size: 18px
        display: inline-block
        width: 85%
        br
          display: none
  &__link
    font-size: 24px
    color: #32a3c3
    font-weight: 400
    margin-left: 20px
    +r(1679)
      font-size: 18px
    +r(1199)
      font-size: 13px
    &.active
      color: $black
      text-decoration: none
      pointer-events: none


#map
  margin-top: 55px
  height: 475px
  +r($tablet)
    margin-top: 0