.contact
  padding-top: 150px
  h2
    margin-bottom: 50px
  hr
    border: solid 2px rgba(229, 230, 240, 0.64)
    margin-bottom: 60px
  &__info
    display: flex
    align-items: center
    i
      font-size: 55px
      color: #cfcece
      margin-right: 30px
    a
      font-size: 25px
      text-decoration: none
      color: $black-two
    p
      font-size: 22px
      line-height: 1.45
  &__link
    font-size: 24px
    color: #32a3c3
    font-weight: 400
    margin-left: 20px
    &.active
      color: $black
      text-decoration: none
      pointer-events: none


#map
  margin-top: 55px
  height: 475px