.doctors
  padding: 100px 0
  .col-xs-12
    padding: 0
  article
    width: 33.33%
    +tr
    cursor: pointer
    header
      overflow: hidden
      position: relative
      height: 400px
      img
        width: 100%
      h1
        position: absolute
        bottom: 35px
        left: 60px
        color: $white
        font-size: 28px
    section
      padding: 40px 65px
      p
        font-size: 20px
        color: #3f3f3f
        line-height: 1.35
        @extend .roboto
        margin-bottom: 35px
      div
        margin-bottom: 40px
        a
          color: #3f3f3f
          display: flex
          align-items: center
          text-decoration: none
          font-size: 20px
          text-transform: uppercase
          i
            font-size: 34px
            margin-right: 15px
      .btn
        width: 100%
    &:hover
      box-shadow: 0px 3px 87px 0 #cfd7e4

