.free
	padding-top: 275px
	padding-bottom: 80px
	color: $white
	overflow: hidden
	position: relative
	.container-fluid
		position: relative
		z-index: 10
	&__back
		content: ''
		+coverdiv
		+cover
		background-image: url('../img/free/style-1/bg-free-1.png')
		z-index: 2
		transition: background 1.5s
		&.active
			background-image: url('../img/free/style-1/bg-free-2.png')
	&__woman
		+coverdiv
		+cover
		background-image: url('../img/free/style-1/bg-free-woman.png')
		z-index: 1
		opacity: 0
		transition: opacity 1.5s
		&.active
			opacity: 1
	+r($desktop)
		margin-top: 70px
		padding-top: 150px
		padding-bottom: 50px
	+r($tablet)
		background-image: url('../img/bg-free-m.jpg')
		padding-bottom: 40px
	+r($mobile)
		background-image: url('../img/bg-free-m2.jpg')
		padding-top: 120px
		margin-top: 0
	h2
		font-size: 55px
		margin-bottom: 35px
		+r($desktop)
			font-size: 37.5px
			margin-bottom: 25px
		+r($tablet)
			font-size: 45px
			margin-bottom: 55px
			br
				display: none
		+r($mobile)
			font-size: 25px
			text-align: center
			margin-bottom: 35px
	p
		font-size: 21.5px
		line-height: 1.4
		margin-bottom: 50px
		+r($desktop)
			font-size: 14.5px
			margin-bottom: 30px
		+r($tablet)
			margin-bottom: 30px
		+r($mobile)
			font-size: 13.5px
			margin-bottom: 20px
			text-align: center
			br
				display: none
	form
		input
			width: 430px
			height: 65px
			margin-right: 20px
			margin-bottom: 50px
			&::placeholder
				color: $white
				@extend .roboto
				font-weight: 300
			+r($desktop)
				height: 45px
				font-size: 12.5px
				width: 300px
				margin-right: 13px
				margin-bottom: 30px
			+r($mobile)
				width: 100%
		button
			width: 430px
			+r($desktop)
				width: 300px
				height: 55px
			+r($tablet)
				width: 345px
				height: 80px
				font-size: 19.5px
			+r($mobile)
				width: 100%
				height: 70px
				i
					margin-right: 15px
		> span
			@extend .roboto
			font-size: 20px
			margin-top: 50px
			display: block
			+r($desktop)
				margin-top: 35px
				font-size: 13.5px
				font-weight: 300
			+r($tablet)
				font-weight: 300
			+r($mobile)
				font-size: 13.5px
				margin-top: 40px
				text-align: center
				br
					display: none
		+r($tablet)
			.flex:nth-of-type(2)
				flex-direction: column
			.social__info
				margin-left: 0
				margin-top: 55px
		+r($mobile)
			.flex
				flex-direction: column
			.social__info
				margin-top: 50px
				p
					font-size: 16px
				a
					justify-content: center
					margin-bottom: 25px
	.response
		&__block
			align-items: flex-start
			p
				text-align: left

.style-2
	.free
		&__back
			background-image: url('../img/free/style-2/bg-free-1.png')
			&.active
				background-image: url('../img/free/style-2/bg-free-2.png')
		&__woman
			background-image: url('../img/free/style-2/bg-free-woman.png')