.subscribe
  background-image: url('../img/bg-subscribe.jpg')
  background-size: cover
  padding-top: 100px
  padding-bottom: 85px
  position: relative
  &:before
    content: ''
    background-image: url('../img/phone.png')
    display: block
    width: 370px
    height: 470px
    position: absolute
    right: 100px
    top: -68px
  h2
    font-size: 35px
    color: #292929
    margin-bottom: 50px
  form
    display: flex
    input
      width: 430px
      margin-right: 20px
    button
      width: 280px
      height: 65px
  .social__info
    position: relative
    bottom: 20px
    margin-left: 70px
    a
      color: #292929