@font-face {
  font-family: "iconfont";
  src: url('../fonts/iconfont.eot');
  src: url('../fonts/iconfont.eot?#iefix') format('eot'),
    url('../fonts/iconfont.woff2') format('woff2'),
    url('../fonts/iconfont.woff') format('woff'),
    url('../fonts/iconfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

$icon-article: "\EA01";
$icon-before: "\EA02";
$icon-burger: "\EA03";
$icon-calendar: "\EA04";
$icon-certificate-next: "\EA05";
$icon-certificate-prev: "\EA06";
$icon-close: "\EA07";
$icon-edit: "\EA08";
$icon-email: "\EA09";
$icon-facebook: "\EA0A";
$icon-mail: "\EA0B";
$icon-mark: "\EA0C";
$icon-phone: "\EA0D";
$icon-price: "\EA0E";
$icon-quote: "\EA0F";
$icon-response-1: "\EA10";
$icon-response-2: "\EA11";
$icon-review: "\EA12";
$icon-section-1: "\EA13";
$icon-section-2: "\EA14";
$icon-section-3: "\EA15";
$icon-section-4: "\EA16";
$icon-section-5: "\EA17";
$icon-telegram: "\EA18";
$icon-viber: "\EA19";


%icon {
  font-family: "iconfont";
  font-style: normal;
  font-weight: normal;
  text-rendering: auto;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon {
  @extend %icon;
  display: inline-block;
}

.icon-article:before { content: $icon-article; }
.icon-before:before { content: $icon-before; }
.icon-burger:before { content: $icon-burger; }
.icon-calendar:before { content: $icon-calendar; }
.icon-certificate-next:before { content: $icon-certificate-next; }
.icon-certificate-prev:before { content: $icon-certificate-prev; }
.icon-close:before { content: $icon-close; }
.icon-edit:before { content: $icon-edit; }
.icon-email:before { content: $icon-email; }
.icon-facebook:before { content: $icon-facebook; }
.icon-mail:before { content: $icon-mail; }
.icon-mark:before { content: $icon-mark; }
.icon-phone:before { content: $icon-phone; }
.icon-price:before { content: $icon-price; }
.icon-quote:before { content: $icon-quote; }
.icon-response-1:before { content: $icon-response-1; }
.icon-response-2:before { content: $icon-response-2; }
.icon-review:before { content: $icon-review; }
.icon-section-1:before { content: $icon-section-1; }
.icon-section-2:before { content: $icon-section-2; }
.icon-section-3:before { content: $icon-section-3; }
.icon-section-4:before { content: $icon-section-4; }
.icon-section-5:before { content: $icon-section-5; }
.icon-telegram:before { content: $icon-telegram; }
.icon-viber:before { content: $icon-viber; }
