.icon-article {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-before {
  width: 1em;
  height: 1em;
  fill: #030104;
}
.icon-burger {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-calendar {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-edit {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-email {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-facebook {
  width: 0.53em;
  height: 1em;
  fill: #000;
}
.icon-mail {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-mark {
  width: 1em;
  height: 1em;
  fill: #231F20;
}
.icon-phone {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-price {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-quote {
  width: 1em;
  height: 1em;
  fill: #444;
}
.icon-review {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-telegram {
  width: 1em;
  height: 1em;
  fill: #47b0d3;
}
.icon-viber {
  width: 1em;
  height: 1em;
  fill: #665cac;
}
