section.certificate
  .container-fluid
    .row
      .col-xs-12
        .heading
          h2 Лицензии и сертификаты
  .certificate__row
    .container-fluid
      .row
        .col-xs-12
          .owl-carousel.owl-theme.certificate-slider
            .item
              a(data-fancybox="certificate" href="img/certificate/1.jpg")
                img(src="img/certificate/1.jpg", alt="")
            .item
              a(data-fancybox="certificate" href="img/certificate/2.jpg")
                img(src="img/certificate/2.jpg", alt="")
            .item
              a(data-fancybox="certificate" href="img/certificate/3.jpg")
                img(src="img/certificate/3.jpg", alt="")
            .item
              a(data-fancybox="certificate" href="img/certificate/4.jpg")
                img(src="img/certificate/4.jpg", alt="")
            .item
              a(data-fancybox="certificate" href="img/certificate/5.jpg")
                img(src="img/certificate/5.jpg", alt="")
            .item
              a(data-fancybox="certificate" href="img/certificate/6.jpg")
                img(src="img/certificate/6.jpg", alt="")
            .item
              a(data-fancybox="certificate" href="img/certificate/7.jpg")
                img(src="img/certificate/7.jpg", alt="")
          .certificate__prev.hidden-sm.hidden-md
            i.icon.icon-certificate-prev
          .certificate__next.hidden-sm.hidden-md
            i.icon.icon-certificate-next
