section.contact
  .container-fluid.contact__top
    .row.middle-xs
      .col-md-6
        .heading
          h2 Контакты наших клиник
      .col-md-6.end-xs.hidden-sm.hidden-xs
        a.contact__link.active(href="#") Многопрофильная клиника
        a.contact__link(href="#") Стоматологические центры
  hr
  .container-fluid
    .row
      .col-md-4.col-sm-12
        .contact__info
          i.icon.icon-phone
          .contact__info__block
            a(href="tel:+7 (812) 748-31-09") +7 (812) 748-31-09
            p ежедневно с 9:00 до 21:00
      .col-md-4.col-sm-12
        .contact__info
          i.icon.icon-mark
          .contact__info__block
            p Мы находимся:  Средний пр., д. 5<br> ст. м. “Василеостровская”, “Спортивная”
      .col-md-4.col-sm-12
        .contact__info
          i.icon.icon-email
          .contact__info__block
            p E-mail: 
            a(href="mailto:info@medcentregoroda.ru")  info@medcentregoroda.ru    
  #map
