section.doctors
  .container-fluid
    .row
      .col-xs-12
        .heading
          h2 Пластические хирурги
      a.doctors__block(href="#")
        article
          header
            img(src="img/doctors/1.jpg", alt="")
            h1 Филипп Анатольевич<br> Романчишен
          section
            p <strong>Пластический хирург</strong>, заведующий центром пластической хирургии, кандидат медицинских наук.
            div
              a(href="#") 
                i.icon.icon-calendar
                | Расписание врача
            .btn.btn-primary
              i.icon.icon-edit
              span Запиcь на консультацию
      a.doctors__block(href="#")
        article
          header
            img(src="img/doctors/2.jpg", alt="")
            h1 Ева Юсуфовна<br> Мохамед
          section
            p <strong>Пластический хирург</strong>, заведующий центром пластической хирургии, кандидат медицинских наук.
            div
              a(href="#") 
                i.icon.icon-calendar
                | Расписание врача
            .btn.btn-primary
              i.icon.icon-edit
              span Запиcь на консультацию
      a.doctors__block(href="#")
        article
          header
            img(src="img/doctors/3.jpg", alt="")
            h1 Екимов<br> Станислав Вадимович 
          section
            p <strong>Пластический хирург</strong>, заведующий центром пластической хирургии, кандидат медицинских наук.
            div
              a(href="#") 
                i.icon.icon-calendar
                | Расписание врача
            .btn.btn-primary
              i.icon.icon-edit
              span Запиcь на консультацию
        
 

