section.home-doctor
  .container-fluid
    .row
      .col-xs-12
        article.home-doctor__block
          header
            h1 Ева Мохамед, косметолог
            p Стаж: 
              span <b class="counter" data-count="10">0</b> лет
            p Проведенных процедур: 
              span <b class="counter" data-count="1048">0</b>
          section
            img(src="img/doctors/2.jpg", alt="")
            div
              h2 Любимая процедура
              h3 Аппаратная косметология
          footer
            .col-sm-6
              p <b>Пластический хирург</b>, заведующий центром пластической хирургии, кандидат медицинских наук.
              a(href="#") 
                i.icon.icon-calendar
                | Расписание врача
            .col-sm-6
              a.btn.btn-primary(href="#")
                i.icon.icon-edit
                span Запиcь на консультацию
          