section.home-doctor
  .container-fluid
    .row
      .col-xs-12
        article.home-doctor__block
          header
            h1 Ева Мохамед, косметолог
            p Стаж: 
              span <b class="counter" data-count="10">0</b> лет
            p Проведенных процедур: 
              span <b class="counter" data-count="1048">0</b>
          section
            a(href="doctor.html").home-doctor__block
              img(src="img/doctors/2.jpg", alt="")
              p <b>Пластический хирург</b>, заведующий центром пластической хирургии, кандидат медицинских наук.
              span(href="#") 
                i.icon.icon-calendar
                | Расписание врача
            .home-doctor__services
              div
                a(href="services.html")
                  h2 Любимая процедура
                  h3 Аппаратная косметология
              a.btn.btn-primary(data-pop href="#modal-form")
                  i.icon.icon-edit
                  span Запиcь на консультацию