section.free
  .free__back
  .free__woman
  .container-fluid
    .row
      .col-xs-12
        form
          h2 Запишитесь<br> на бесплатную* консультацию
          p Укажите свои контактные данные и мы свяжемся<br> с Вами в течении 30 минут:
          .flex
            input#phone(type="tel", name="phone" placeholder="Ваш номер телефона")
            input.hidden-xs(type="text", name="name" placeholder="Ваше имя")
          .flex
            button.btn.btn-secondary(type="submit")
              i.icon.icon-mail
              span Отправить запрос
            .social__info
              p Или свяжитесь с нами через:
              .flex
                a(href="#")
                  i.i-whatsapp
                  | WhatsApp
                a(href="tg://resolve?domain=medallbot")
                  i.i-telegram
                  | Telegram
                a(href="#")
                  i.i-viber
                  | Viber
          span * Консультация является бесплатной при согласии<br> пациента продолжить лечение в клинике.
        .response
          .response__block
            h2 Спасибо!
            p Мы свяжемся с Вами<br>в течении 30 минут для подтверждения записи.
          .social__info
            p Или свяжитесь с нами через:
            .flex
              a(href="#")
                i.i-whatsapp
                | WhatsApp
              a(href="tg://resolve?domain=medallbot")
                i.i-telegram
                | Telegram
              a(href="#")
                i.i-viber
                | Viber
