section.intro
  .container-fluid
    .row
      .col-lg-4.col-lg-offset-3.col-md-offset-2.col-md-4
        .intro__text
          p с 7.05 по 14.05.2018
          h2 Идеальные губы<br> за 15 000 р.
      .col-lg-4.col-lg-offset-1
        .intro__form
          form
            h3 Запишитесь на бесплатную*<br> консультацию
            input(type="tel", name="phone" placeholder="Ваш контактный телефон") 
            input(type="text", name="name" placeholder="Ваше имя") 
            button.btn.btn-primary(type="submit")
              i.icon.icon-mail
              span Отправить запрос
            p * Консультация является бесплатной при согласии<br> пациента продолжить лечение в клинике.
