section.subscribe
  .container-fluid
    .row.bottom-xs
      .col-md-5
        h2 Подпишитесь и получайте наши<br> спецпредложения и акции:
        form
          input(type="email", name="email" placeholder="Ваш e-mail")
          button.btn.btn-primary(type="submit")
            i.icon.icon-mail
            span Подписаться
      .col-md-5
        .social__info
          p Или получайте новости в любимый<br> мессенджер:
          .flex
            a(href="#")
              i.i-whatsapp
              | WhatsApp
            a(href="#")
              i.i-telegram
              | Telegram
            a(href="#")
              i.i-viber
              | Viber