.footer
  &__top
    background: rgba($grey, 0.9)
    padding-top: 70px
    padding-bottom: 120px
    +r($desktop)
      padding-top: 50px
    +r($tablet)
      padding-bottom: 100px
    +r($mobile)
      padding-bottom: 70px
  &__bottom
    background: rgba($grey2, 0.24)
    padding: 35px
    p
      font-size: 22px
      font-weight: 300
      @extend .roboto
      color: $black-two
      +r($desktop)
        font-size: 15px
  &__menu
    flex-wrap: wrap
    width: 100%
    &:first-child
      width: 80%
      ul
        width: 100%
    &__row
      display: flex
      &:first-child
        margin-bottom: 40px
        justify-content: space-between
      &:last-child
        .footer__menu
          width: 28.7%
    h2
      height: 40px
      width: 100%
      display: flex
      align-items: center
      i
        font-size: 20px
        margin-right: 10px
        position: relative
        top: 3px
      a
        font-size: 26px
        text-transform: uppercase
        color: #3f3f3f
        margin-bottom: 20px
        width: 100%
        text-decoration: none
        display: block
        +r($desktop)
          font-size: 17.5px
        +r($tablet)
          font-size: 26px
        +r($mobile)
          font-size: 20px
    ul
      display: inline-flex
      flex-direction: column
      &:first-of-type
        margin-right: 20px
      li
        a
          font-size: 24px
          font-weight: 300
          @extend .roboto
          margin-bottom: 10px
          display: block
          color: #3f3f3f
          text-decoration: none
          +r($desktop)
            font-size: 16.5px
          +r($tablet)
            font-size: 20px
          +r($mobile)
            font-size: 16px
  .logo
    width: 180px
    display: inline-block
    margin-right: 35px
    +r($desktop)
      width: 125px
      margin-right: 18px
    img
      width: 100%
  .copyright
    display: inline-block
    font-size: 22px
    font-weight: 300
    @extend .roboto
    color: $black-two
    text-transform: uppercase
    position: relative
    top: -5px
    +r($desktop)
      font-size: 15px
    
