.footer
  &__top
    background: rgba($grey, 0.9)
    padding-top: 70px
    padding-bottom: 120px
  &__bottom
    background: rgba($grey2, 0.24)
    padding: 35px
    p
      font-size: 22px
      font-weight: 300
      @extend .roboto
      color: $black-two
  &__menu
    display: inline-flex
    flex-wrap: wrap
    &:first-child
      width: 30%
    h2
      font-size: 26px
      text-transform: uppercase
      color: #3f3f3f
      margin-bottom: 20px
      width: 100%
    ul
      width: 40%
      margin-right: 40px
      li
        a
          font-size: 24px
          font-weight: 300
          @extend .roboto
          line-height: 1.88
          color: #3f3f3f
          text-decoration: none
  .logo
    width: 180px
    display: inline-block
    margin-right: 35px
    img
      width: 100%
  .copyright
    display: inline-block
    font-size: 22px
    font-weight: 300
    @extend .roboto
    color: $black-two
    text-transform: uppercase
    position: relative
    top: -5px
  
    
