.header
  padding-top: 70px
  .logo
    +center
    img
      width: 230px
  &__info
    display: flex
    flex-wrap: wrap
    > p
      @extend .roboto
      margin-bottom: 25px
      font-size: 22px
      width: 100%
      color: $black-three
    &__block
      &:nth-of-type(1)
        width: 40%
      &:last-child
        width: 60%
      a
        font-size: 22px
        display: block
        text-decoration: none
        color: #000
      p
        @extend .ubuntu
        font-size: 22px
  .btn:first-child
    margin-right: 15px
  &__sections
    margin-top: 65px
    ul
      display: flex
      justify-content: space-between
      li
        height: 100px
        background-color: #f2f3f9
        width: 100%
        &:not(:last-child)
          margin-right: 8px
        @for $i from 1 through 5
          .icon-section-#{$i}
            +s('section-#{$i}')
            margin-right: 25px
        a
          display: flex
          align-items: center
          justify-content: flex-end
          height: 100%
          padding-left: 25px
          font-size: 22px
          color: #b8b9bd
          text-decoration: none
          flex-direction: row-reverse
          +tr
          &:hover, &.active
            background: $white
            color: $black-three