
.container-fluid
  padding: 0 65px 
  +r($tablet)
    padding: 0 15px 
  
body
  font-family: 'Ubuntu', sans-serif
  font-weight: 700

.roboto
  font-family: 'Roboto', sans-serif

.ubuntu
  font-family: 'Ubuntu', sans-serif

.heading
  h2
    @extend .roboto
    font-size: 35px
    font-weight: 300
    color: rgba(63, 63, 63, 0.65)
    margin-bottom: 35px
    +r($tablet)
      font-size: 28px
      margin-bottom: 20px


+r($mobile)
	.hidden-xs
		display: none !important
@media only screen and (min-width: 768px) and (max-width: 1200px)
	.hidden-sm
		display: none !important
+rmin(1200)
	.hidden-md
		display: none !important


.flex
  display: flex

//Tabs
.tabs__content
  display: none
  &.active
    display: block

//Social
.social__info
  margin-left: 50px
  p
    margin-bottom: 15px
    font-size: 20px
    font-weight: 300
    @extend .roboto
  a
    display: flex
    align-items: flex-end
    margin-right: 40px
    font-size: 20px
    color: $white
    text-decoration: none
    +r(1679)
      margin-right: 20px
    i
      display: block
      margin-right: 10px
    .i-whatsapp
      +s('whatsapp')
    .i-telegram
      +s('telegram')
    .i-viber
      +s('viber')
			
